/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

#top-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-between;
}

a {
  text-decoration: none;
}

nav ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-evenly;
  list-style-type: none;
}

.specs {
  display: flex;
  flex-direction: row;
  align-items: center;
}